.advantage {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.advantage__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 2px;
    left: 9px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-bottom: 20px;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 82px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}

.advantage__description {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 82px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: center;
  }
}
