.advantages__container {
  padding: 50px 20px 28px;

  @media (min-width: $tablet-width) {
    padding: 60px 20px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 96px;
  }

  @include container;
}

.advantages__subtitle {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $purple;
}

.advantages__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
