.button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-primary {
  background-color: $purple;
  color: $base-white;

  &:hover,
  &:focus {
    background-color: #9070ec;
    color: $base-white;
  }

  &:active {
    background-color: #593cac;
    color: $base-white;
  }

  &:disabled {
    background-color: $base-grey;
    color: $base-white;
  }
}

.button-secondary {
  background-color: $base-white;
  color: $purple;

  &:hover,
  &:focus {
    color: $base-white;
    background-color: #9070ec;
  }

  &:active {
    color: $base-white;
    background-color: #593cac;
  }

  &:disabled {
    color: $base-white;
    background-color: #e2e2e2;
  }
}
