.copyright {
  display: flex;
  justify-content: center;
  padding: 20px 57px 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 20px;
  }
}

.copyright__text {
  margin-right: 3px;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover .copyright__name,
  &:focus .copyright__name {
    color: $purple;
  }
  &:hover .copyright__name-icon,
  &:focus .copyright__name-icon {
    fill: $purple;
  }

  &:active .copyright__name {
    color: #593cac;
  }

  &:active .copyright__name-icon {
    fill: #593cac;
  }
}

.copyright__name {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
  margin-right: 4px;
}

.copyright__name-icon {
  fill: #bdbdbd;
}
