.main-header__container {
  @include container;
}

.main-header__nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-header__logo-container {
  display: flex;
  align-items: center;
  align-self: flex-start;

  @media (max-width: $mobile-width-only) {
    .nojs & {
      flex-basis: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 27%;
  }
}

.main-header__logo-link {
  padding: 11px 20px;

  @media (min-width: $tablet-width) {
    padding: 22px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-header__logo {
  @media (max-width: $mobile-width-only) {
    &--visible-tablet {
      display: none;
    }

    &--visible-desktop {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    &--visible-mobile {
      display: none;
    }

    &--visible-tablet {
      display: block;
    }

    &--visible-desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;

    &--visible-mobile {
      display: none;
    }

    &--visible-tablet {
      display: none;
    }

    &--visible-desktop {
      display: block;
    }
  }
}

.main-header__logo-text {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.main-header__user-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: $mobile-width-only) {
    .nojs & {
      flex-basis: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    order: 3;
    flex-basis: 15%;
  }
}

.main-header__user-link {
  padding: 20px 22px;
  text-decoration: none;

  &:focus-visible {
    outline: none;
  }

  @media (min-width: $desktop-width), (max-width: $mobile-width-only) {
    &:focus .main-header__user-text,
    &:hover .main-header__user-text {
      color: $purple;
    }

    &:focus .main-header__user-icon,
    &:hover .main-header__user-icon {
      fill: $purple;
    }

    &:active {
      background-color: #f0ebff;

      .main-header__user {
        fill: $purple;
      }

      .main-header__user-text {
        color: $purple;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 30px 22px;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.main-header__button {
  position: relative;
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  padding: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (max-width: $mobile-width-only) {
    .nojs & {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 8px);
    width: 16px;
    height: 1.5px;
    background-color: $base-black;
    box-shadow: 0 5px 0 0 $base-black, 0 10px 0 0 $base-black;
  }

  &:active {
    background-color: #f0ebff;
  }

  .main-nav--opened &:active {
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__user-icon {
  fill: #333333;

  @media (min-width: $desktop-width) {
    margin-right: 8px;
  }
}

.main-header__user-text {
  display: none;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  text-decoration: none;
  color: $base-black;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
