.main-footer__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f0ebff;
}

.main-footer__images-logo {
  display: block;
}
