.origin__container {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    flex-basis: 27.1%;
    margin-bottom: 40px;
  }
}

.origin__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.origin__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.origin__item {
  &:not(:last-child) {
    margin-bottom: 22px;
  }
}

.origin__field {
  display: flex;
  align-items: center;
}

.origin__marker {
  box-sizing: border-box;
  position: relative;
  width: 42px;
  height: 24px;
  margin-right: 10px;
  background-color: #bdbdbd;
  border-radius: 12px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $base-white;
  }
}

.origin__input:hover:enabled:not(:checked) ~ .origin__marker {
  background-color: #7859cf40;
  border: 2px solid #9070ec;
  border-radius: 12px;
}
.origin__input:hover:enabled:not(:checked) ~ .origin__marker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $base-white;
}

.origin__input:checked + .origin__marker::before {
  transform: translateX(18px);
}

.origin__input:checked + .origin__marker {
  background-color: $purple;
}

.origin__input:disabled ~ .origin__marker {
  background-color: #e2e2e2;
}

.origin__input:disabled ~ .origin__description {
  color: #e2e2e2;
}

.origin__input:checked[disabled] ~ .origin__marker::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #bdbdbd;
}

.origin__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
