.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  min-width: $contant-mobile;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: $base-black;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}
