.pagination__container {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    position: relative;
    left: 20px;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}

.pagination__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__item {
  &:not(:last-child) {
    margin-right: 20px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.pagination__link {
  box-sizing: border-box;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: $purple;
  background-color: $base-white;

  &--active {
    font-weight: 600;
    background-color: transparent;
    color: $base-black;

    @media (min-width: $tablet-width) {
      margin: 0 20px;
    }
  }

  &--prev {
    background-image: url("../../img/arrow-pagination-left.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }

  &--next {
    background-image: url("../../img/arrow-pagination-right.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }
}

.pagination__link-text {
  display: none;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    display: block;

    &--prev {
      padding: 0 40px;
    }

    &--next {
      padding: 0 38px;
    }
  }
}
