.price__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.price__range {
  position: relative;
  min-width: 280px;
  height: 2px;
  margin-bottom: 36px;
  background-color: $light-grey;
}

.price__range-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 94%;
  height: 2px;
  background-color: #9070ec;
}

.price__range-button {
  z-index: 10;
  position: absolute;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid $purple;
  background-color: $base-white;

  &--min {
    left: 0;
  }

  &--max {
    right: 0;
  }
}

.price__input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.price__input {
  width: 34%;
  padding: 7px 9px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 2px solid #9070ec;
  border-radius: 4px;
  color: #bdbdbd;

  &--to {
    color: $base-black;
  }
}
