.price__container {
  @media (min-width: $tablet-width) {
    flex-basis: 30%;
    // margin-right: 21px;
  }
}

.price__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.price__range {
  position: relative;
  min-width: 280px;
  height: 2px;
  margin-bottom: 36px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    min-width: 220px;
    margin-left: 7px;
  }
}

.price__range-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 2px;
  background-color: #9070ec;
}

.price__range-button {
  position: relative;
  z-index: 10;
  position: absolute;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid $purple;
  background-color: $base-white;
  &:hover:enabled.price__range-button--min::after,
  &:hover:enabled.price__range-button--max::after {
    content: '';
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #7859cf40;
  }

  &:active:enabled.price__range-button--min::after,
  &:active:enabled.price__range-button--max::after {
    content: '';
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #7859cf;
  }

  &:disabled {
    border: 2px solid #bdbdbd;
  }

  &:disabled ~ .price__range-bar {
    background-color: #bdbdbd;
  }

  &--min {
    left: 0;
  }

  &--max {
    right: calc(10% - 12px); // 10%  это (100% - width price__range-bar)
  }
}

.price__input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 7px;
  }
}

.price__input {
  width: 34%;
  padding: 7px 9px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 2px solid #9070ec;
  border-radius: 4px;
  color: $base-black;

  &::placeholder {
    color: #bdbdbd;
  }

  &:focus {
    border: 2px solid #593cac;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    border: 2px solid #e2e2e2;
  }

  @media (min-width: $tablet-width) {
    padding: 6px 7px;
  }
}
