.product__item {
  padding: 40px 20px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
    background-color: $base-white;
  }
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.product__description {
  width: 98%;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.product__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.product__buy-button {
  position: relative;
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    width: 20px;
    height: 16px;
    background-image: url("../../img/product-button.svg");
    background-repeat: no-repeat;
  }
}
