.promo {
  background-color: #f3ebe1;

  @media (min-width: $tablet-width) {
    background: linear-gradient(#f3ebe1 77%, $base-white 1%);
  }

  @media (min-width: $desktop-width) {
    background: #f3ebe1;
  }
}

.promo__silder-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 72px;
  }
}

.promo__swiper-button {
  z-index: 10000000;
  position: absolute;
  top: 0;
  width: 20px;
  height: 656px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &--prev {
    z-index: 100;
    left: 0;
    background: url("../../img/slider-buton-prev.svg") no-repeat center;

    @media (min-width: $desktop-width) {
      left: calc((100vw - $desktop-width) / 2);
    }

    &:hover,
    &:focus {
      background: linear-gradient(
          90deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        url("../../img/slider-buton-prev.svg") no-repeat center;
    }

    &:active {
      background: linear-gradient(
          90deg,
          rgba(120, 89, 207, 0.25) 0%,
          rgba(120, 89, 207, 0) 100%
        ),
        url("../../img/slider-buton-prev.svg") no-repeat center;
    }

    &:disabled {
      background: url("../../img/slider-button-prev-disabled.svg") no-repeat
        center;
    }
  }

  &--next {
    right: 0;
    background: url("../../img/slider-button-next.svg") no-repeat center;

    @media (min-width: $desktop-width) {
      right: calc((100vw - $desktop-width) / 2);
    }

    &:hover,
    &:focus {
      background: linear-gradient(
          270deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        url("../../img/slider-button-next.svg") no-repeat center;
    }

    &:active {
      background: linear-gradient(
          270deg,
          rgba(120, 89, 207, 0.25) 0%,
          rgba(120, 89, 207, 0) 100%
        ),
        url("../../img/slider-button-next.svg") no-repeat center;
    }

    &:disabled {
      background: url("../../img/slider-button-next-disabled.svg") no-repeat
        center;
    }
  }
}
