.slide__container {
  position: relative;
  padding: 20px 0 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 60px;
  }
  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0;
  }
  @include container;
}

.slide__image-container {
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    width: 50%;
    order: 0;
    padding-top: 30px;
    padding-left: 65px;
    margin-bottom: 10px;
  }
}

.slide__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 476px;
    min-height: 476px;
  }

  @media (min-width: $desktop-width) {
    min-width: 600px;
    min-height: 600px;
  }
}

.slide__description-container {
  @media (min-width: $desktop-width) {
    padding: 180px 40px 0 30px;
  }
}

.slide__subtitle {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $purple;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.slide__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 20px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }
  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: left;
  }
}
.slide__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 83%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    text-align: left;
  }
}

.slide__price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    padding: 0;
  }
}

.slide__price-before {
  margin-right: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  word-break: break-word;
  color: $purple;
}
.slide__price-after {
  margin-right: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  word-break: break-word;
}

.slide__button-buy {
  padding: 8px 20px;
}
