.slider-pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-pagination__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.slider-pagination__button {
  width: 62px;
  height: 4px;
  border: none;
  cursor: pointer;
  background-color: $base-white;

  &--active {
    background-color: $purple;
  }

  &:hover,
  &:focus {
    background-color: #7859cf40;
  }
}
