.slider-pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;

  & .swiper-pagination-bullet {
    width: 62px;
    height: 4px;
    border: none;
    border-radius: 0;
    background: $base-white;
    opacity: 1;
    z-index: 1;

    &:hover,
    &:focus {
      background: #7859cf40;
    }

    &:active {
      background: $purple;
    }

    &-active {
      background: $purple;
    }
  }
}
