.slide__container {
  position: relative;
  padding: 20px 0 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 60px;
  }
  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0;
  }
  @include container;
}

.slide__image-container {
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    width: 50%;
    order: 0;
    padding-top: 30px;
    padding-left: 65px;
    margin-bottom: 10px;
  }
}

.slide__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 476px;
    min-height: 476px;
  }

  @media (min-width: $desktop-width) {
    min-width: 600px;
    min-height: 600px;
  }
}

.slide__description-container {
  @media (min-width: $desktop-width) {
    padding: 180px 40px 0 30px;
  }
}

.slide__subtitle {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $purple;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.slide__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 20px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }
  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: left;
  }
}
.slide__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 83%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    text-align: left;
  }
}

.slide__price-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.slide__price-before {
  margin-right: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: $purple;
}
.slide__price-after {
  margin-right: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.slide__button-buy {
  padding: 8px 20px;
}

.slide__button {
  z-index: 10000000;
  position: absolute;
  top: 0;
  width: 20px;
  height: 656px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &--prev {
    z-index: 100;
    left: 0;
    background: url('../../img/slider-buton-prev.svg') no-repeat center;

    @media (min-width: $desktop-width) {
      left: calc((100vw - $desktop-width - 20px) / 2);
    }

    &:hover,
    &:focus {
      background: linear-gradient(
          90deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        url('../../img/slider-buton-prev.svg') no-repeat center;
    }

    &:active {
      background: linear-gradient(
          90deg,
          rgba(120, 89, 207, 0.25) 0%,
          rgba(120, 89, 207, 0) 100%
        ),
        url('../../img/slider-buton-prev.svg') no-repeat center;
    }

    &:disabled {
      background: url('../../img/slider-button-prev-disabled.svg') no-repeat
        center;
    }
  }
  &--next {
    right: 0;
    background: url('../../img/slider-button-next.svg') no-repeat center;

    @media (min-width: $desktop-width) {
      right: calc((100vw - $desktop-width - 20px) / 2);
    }

    &:hover,
    &:focus {
      background: linear-gradient(
          270deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        url('../../img/slider-button-next.svg') no-repeat center;
    }

    &:active {
      background: linear-gradient(
          270deg,
          rgba(120, 89, 207, 0.25) 0%,
          rgba(120, 89, 207, 0) 100%
        ),
        url('../../img/slider-button-next.svg') no-repeat center;
    }

    &:disabled {
      background: url('../../img/slider-button-next-disabled.svg') no-repeat
        center;
    }
  }
}
