.social__container {
  display: flex;
}

.social__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.social__link {
  display: block;
  padding: 10px;

  &:hover,
  &:focus {
    border-radius: 4px;
    background-color: #f0ebff;

    & .social__link-icon {
      fill: $purple;
    }
  }
  &:active {
    background-color: #7859cf40;
    border-radius: 4px;

    & .social__link-icon {
      fill: $purple;
    }
  }
}
.social__link-icon {
  display: block;
  fill: #bdbdbd;
}
