.sort__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}

.sort__control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-bottom: 26px;
  }
}

.sort__control {
  width: 165px;
  padding: 4px 30px 4px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-image: url("../../img/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  appearance: none;
  border: none;
  color: $purple;
  background-color: transparent;
}
