@mixin container {
  @media (min-width: $desktop-width) {
    max-width: $contant-desktop;
    margin: 0 auto;
  }
}

@mixin style-pagination-arrow-left {
  @media (max-width: $mobile-width-only) {
    &:hover,
    &:focus {
      background-image: url('../../img/arrow-pagination-left-white.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
    }

    &:active {
      background-image: url('../../img/arrow-pagination-left-white.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
    }

    &:disabled {
      background-image: url('../../img/arrow-pagination-left-white.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
    }
  }
}

@mixin style-pagination-arrow-right {
  @media (max-width: $mobile-width-only) {
    &:hover,
    &:focus {
      background-image: url('../../img/arrow-pagination-right-white.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
    }

    &:active {
      background-image: url('../../img/arrow-pagination-right-white.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
    }

    &:disabled {
      background-image: url('../../img/arrow-pagination-right-white.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
    }
  }
}
