@import "./fonts.scss";
@import "./normalize.scss";
@import "./mixins.scss";
@import "./variables.scss";
@import "./visually-hidden.scss";
@import "./blocks/advantage.scss";
@import "./blocks/advantages.scss";
@import "./blocks/button.scss";
@import "./blocks/catalog.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
@import "./blocks/footer-navigation.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/map.scss";
@import "./blocks/media.scss";
@import "./blocks/milk.scss";
@import "./blocks/origin.scss";
@import "./blocks/page.scss";
@import "./blocks/pagination.scss";
@import "./blocks/price.scss";
@import "./blocks/product.scss";
@import "./blocks/promo.scss";
@import "./blocks/slide.scss";
@import "./blocks/slider-pagination.scss";
@import "./blocks/social.scss";
@import "./blocks/sort.scss";
