// Colors

$base-white: #ffffff;
$base-grey: #bdbdbd;
$light-grey: #e2e2e2;
$base-black: #333333;
$purple: #7859cf;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// Sizes
$contant-mobile: 320px;
$contant-desktop: 1360px;
